@import url('node_modules/normalize.css/normalize.css');

html {
    font-size: 62.5%;
}

body {
	color: #fff;
	background-color: #e93a42;
	background-image: -webkit-linear-gradient(45degdeg, #f0504f,#e93a42);
	background-image: -webkit-linear-gradient(45deg, #f0504f, #e93a42);

	overflow-x: hidden;

	height: 2000px;
}

body canvas {
	position: fixed;

	z-index: -1;

}

main > div {
	position: fixed;

	width: 100%;
	padding: 0 6rem;
	box-sizing: border-box;

	text-align: center;

	opacity: 1;
}

#init-text {
	position: fixed;
	margin-top: 10rem;
}

#billion-reasons {
	position: absolute;
	top: 40rem;

	margin-top: 4vw;

	opacity: 0;
}

h1, h2, h3, h4, h5 {
	font-family: "Gotham SSm A","Gotham SSm B","gotham","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
	font-weight: normal;
	font-size: 4.5rem;
	line-height: 1.5;
	letter-spacing: -0.03em;
}

h2 {
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 1.5em;
}

@media (max-width: 700px) {
	h1 {
	    font-size: 4.2rem;
	}

	h2 {
		font-size: 1.8rem;
	}
}